{% extends 'base.html' %}

{% block content %}
<h1>Create Project</h1>
<form action="{% url 'project_create' %}" method="POST">
    {% include 'partials/CRU.html' with button_text="Create" %}
</form>
{% endblock %}