{% extends 'base.html' %}

{% block content %}
    <div class="card">
    <div class="card-header">
        <h3 class="mt-1 mb-1">Project detail</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }}</p>
        <p class="card-text">Project participants: {{ project.members }}</p>
        {% if perms.to_do_list.delete_task and request.user in project.member.all or request.user.is_superuser %}
            <a href="{% url 'manage_users' project.pk %}" class="btn btn-outline-secondary btn-sm mb-3">Manage Users</a>
        {% endif %}
        <p class="card-text mt-2">Project tasks: 
            {% for task in project.tasks.all %}
                <span class="me-1"><a href="{% url 'task_detail' task.pk %}">{{ task }}</a>{% if not forloop.last %}, {% endif %}</span>
            {% endfor %}  
        </p>    
        
        {% if perms.projects.change_project %}
            <a href="{% url 'project_update' project.pk %}" class="btn btn-outline-secondary">Update</a>
        {% endif %}
        {% if perms.projects.delete_project %}
            <a href="{% url 'project_delete' project.pk %}" class="btn btn-outline-danger">Delete</a>
        {% endif %}

    </div>
    </div>

{% endblock %}