{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="list-group mb-3">
            <h1>Project list</h1>
            {% for project in projects %}
            <div>
                <a href="{% url 'project_detail' project.pk %}" class="list-group-item list-group-item-action mb-1">
                    <span>{{ project.name }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    <div class="d-flex justify-content-center">  
        {% include 'partials/pagination.html' %}
    </div>  
    </div>
{% endblock %}