{% extends 'base.html' %}

{% block content %}
    <h1>Edit Project</h1>
    <form action="{% url 'project_update' project.pk %}" method="POST">
        {% include 'partials/CRU.html' with button_text="Edit" %}        
    </form>
{% endblock %}