{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
<div class="card text-center w-25 ">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
        <form action="{% url 'login' %}?next={{ request.GET.next }}" method="POST" class="">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}