{% extends 'base.html' %}

{% block content %}
    <h1>Registration</h1>
    <form action="{% url 'register' %}?next={{ request.GET.next }}" method="POST" formnovalidate>
        {% csrf_token %}
        {% include 'partials/CRU.html' with button_text="Sign Up" %}
    </form>
{% endblock %}
