{% extends 'base.html' %}

{% block content %}
    <h1>{{ user_obj.get_full_name|default:user_obj.username }}</h1>

    <div class="mb-5">
        {% if user_obj.profile.avatar %}
            <img src="{{ user_obj.profile.avatar.url }}" class="avatar">
        {% endif %}
        <p>Username: {{ user_obj.username }}</p>
        <p>First name: {{ user_obj.first_name }}</p>
        <p>Last name: {{ user_obj.last_name }}</p>
        <p>Occupation: {{ user_obj.profile.occupation }}</p>
        <p>Tel.: {{user_obj.profile.tel }}</p>
        <p>Email: {{ user_obj.email }}</p>
    </div>

    {% block user_menu %}
        <a href="{% url 'user_change' user_obj.pk %}" class="btn btn-outline-secondary">Edit Profile</a>
        <a href="{% url 'password_change' user_obj.pk %}" class="btn btn-outline-secondary">Change password</a>
    {% endblock %}

    <p class="fs-6">
        <h2 class="text-center">Tasks assigned to {{ user_obj.username }}:</h2>
        <div class="accordion" id="accordionExample">
        {% for task in tasks %}        
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                   {{ task.title }}
                   {% if task.status == 'Done' %}
                        <span class="badge text-bg-success ms-2">{{ task.status }}</span>
                   {% elif task.status == 'Pending' %}
                        <span class="badge text-bg-secondary ms-2">{{ task.status }}</span>            
                   {% else %}
                        <span class="badge text-bg-primary ms-2">{{ task.status }}</span>
                   {% endif %}
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{ task.description }}
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'task_detail' task.pk %}" class="btn btn-sm btn-primary mt-1 me-1">Detail</a>
                    {% if perms.to_do_list.change_task and request.user in task.task_assigned_to.all %}
                        <div><a href="{% url 'task_update' task.pk %}" class="btn btn-sm btn-secondary mt-1 me-1">Update</a></div>
                    {% endif %}
                    {% if perms.to_do_list.delete_task and request.user in task.task_assigned_to.all %}
                        <div><a href="{% url 'task_delete' task.pk %}" class="btn btn-sm btn-danger mt-1">Delete</a></div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        {% empty %}
            <p class="text-center fs-5">No tasks assigned yet</p>
        {% endfor %}
        <div class="d-flex justify-content-center mt-2">
        {% if is_paginated %}
            {% include 'partials/pagination.html' %}
        {% endif %}
        </div>
    </div>
    </p>  
    
{% endblock %}

