{% extends 'base.html' %}

{% block content %}
    <h1>Profile Edit</h1>
    <form action="{% url 'user_change' user_obj.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partials/user_form.html' with form=form fields_only=True %}
        {% include 'partials/user_form.html' with form=profile_form fields_only=True %}
        <button type="submit" class="btn btn-outline-secondary">Edit</button>
    </form>
{% endblock %}