{% extends 'base.html' %}

{% block content %}
    <h1>Password Change</h1>
    {% url "password_change" user_obj.pk as action_url %}
    {% include 'partials/user_form.html' with action_url=action_url form_method="POST" %}
    {% block user_menu %}
    <a href="{% url 'user_detail' user_obj.pk %}" class="btn btn-outline-secondary mt-2">Back</a>
    {% endblock %}

{% endblock %}