<footer class="bd-footer py-4 py-md-2 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-1 px-4 px-md-3 text-body-secondary">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
            <img src="https://w7.pngwing.com/pngs/601/588/png-transparent-logo-s-angle-triangle-poster.png" width="40" height="32" class="d-block me-2">
            <span class="fs-5">Sup To Do List</span>
          </a>
          <ul class="list-unstyled small">
            <li class="mb-2">Разработано в рамках Практического задания <a href="https://programs.outpeer.kz/">Outpeer.kz</a> с помощью <a href="https://getbootstrap.com">Bootstrap</a>.</li>
            <li class="mb-2">Currently v.1.0.</li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="{% url 'home_page' %}">Home</a></li>
            <li class="mb-2"><a href="{% url 'task_list' %}">Tasks list</a></li>
            <li class="mb-2"><a href="https://gitlab.com/slimon/supstore" target="_blank">Gitlab Project</a></li>
            <li class="mb-2"><a href="https://t.me/supalish" target="_blank">Telegram</a></li>
            <li class="mb-2"><a href="mailto:supalish@gmail.com" target="_blank">Email</a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
</footer>