<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href={% url 'home_page' %}>SupToDoList</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'task_list' %}">TasksList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'task_create' %}">Create Task</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'project_list' %}">Projects</a>
          </li>
          {% if perms.projects.add_project %}
          <li>
            <a class="nav-link" href="{% url 'project_create' %}">Project add</a>
          </li>
          {% endif %}
        </ul>
          <div class="d-flex ms-auto">
            {% if not request.user.is_authenticated %}
              <button type="button" class="btn btn-sm btn-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Login
              </button>
              <a class="btn btn-primary btn-sm" aria-current="page" href="{% url 'register' %}?next={{ request.get_full_path }}">Register</a>

            {% else %}
              <div class="d-flex align-items-center me-3 ms-auto">Hello, <a class="ms-1" href="{% url 'user_detail' user.pk %}">{{ user.username }}</a></div>
              <a class="btn btn-sm btn-success" aria-current="page" href="{% url 'logout' %}">Logout</a>
            {% endif %}

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}

                            <div class="mb-3">
                              <label for="username" class="form-label">Username</label>
                              <input type="text" name="username" id="username" class="form-control">
                            </div>
                            
                            <div class="mb-3">
                              <label for="password" class="form-label">Password</label>
                              <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>

          </div>

      </div>
    </div>
  </nav>