{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="list-group mb-3">
        <h1 class="text-center">Tasks in Progress</h1>
        {% for task in tasks %}
            <div>
                {% if task.status == 'In progress' %} 
                <a href="{% url 'task_detail' task.pk %}" class="list-group-item list-group-item-action mb-1 me-1 text-center">
                    <span>{{ task.title }}.<span class="badge text-bg-primary ms-2">{{ task.status }}</span> <p class="small fw-lighter">Task assigned to: {{ task.assigned_to }}</p></span>  
                </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}