{% extends 'base.html' %}

{% block content %}
    <div class="card">
    <div class="card-header">
        <h3 class="mt-1 mb-1">Task detail</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ task.pk }} - {{ task.title }}</h5>
        <p class="card-text">{{ task.description }}</p>
        <p class="card-text small fw-lighter">Current Status: {{ task.status }}</p>
        <p class="card-text">Task assigned to: {{ task.assigned_to }}</p>    
        {% if perms.to_do_list.delete_task and request.user in project.member.all or request.user.is_superuser %}
            <a href="{% url 'manage_users_task' task.pk %}" class="btn btn-outline-secondary btn-sm mb-3">Manage Users</a>
        {% endif %}

        {% if not project %}
            {% if perms.projects.add_project %}
            <a href="{% url 'select_project' task.pk %}" class="btn btn-outline-secondary">Select Project</a>
            {% endif %}
        {% else %}
            <p class="card-text">Project link: <a href="{% url 'project_detail' project.pk %}">{{ task.project.name }}</a></p>    
        {% endif %}


        {% if perms.to_do_list.change_task and request.user in project.member.all or request.user.is_superuser %}
            <a href="{% url 'task_update' task.pk %}" class="btn btn-outline-secondary">Update</a>
        {% endif %}
        {% if perms.to_do_list.delete_task and request.user in project.member.all or request.user.is_superuser %}
            <a href="{% url 'task_delete' task.pk %}" class="btn btn-outline-danger">Delete</a>
        {% endif %}
    </div>
    </div>

{% endblock %}