{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-sm-8">
                <form method="GET">
                    <div class="input-group">
                        <input type="search" name="search" class="form-control" aria-label="Search">
                        <button class="btn btn-success" id="button-addon2">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <div class="btn-group m-1 gap-2 d-flex flex-row-reverse">
                    <form method="GET" class="d-flex align-items-center">
                        <button name="sort_by" type="submit" class="btn btn-outline-dark btn-sm" value="status" id="sort_by">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
                            </svg> Status</button>
                    </form>
                    <form method="GET" class="d-flex align-items-center">
                        <button name="sort_by" type="submit" class="btn btn-outline-dark btn-sm" value="title" id="sort_by">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
                            </svg> title</button>
                    </form>
                    <form method="GET" class="d-flex align-items-center">
                        <button name="sort_by" type="submit" class="btn btn-outline-dark btn-sm" value="created_at" id="sort_by">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
                            </svg> Date</button>
                    </form>
                    <form method="GET" class="d-flex align-items-center">
                        <button name="sort_by" type="submit" class="btn btn-outline-dark btn-sm" value="id" id="sort_by">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                            <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
                            </svg> ID</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="list-group mb-3">
            {% for task in tasks %}
            <div>
                <a href="{% url 'task_detail' task.pk %}" class="list-group-item list-group-item-action mb-1">
                    <span>{{ task.id }} - {{ task.title }}
                        {% if task.status == 'Done' %}
                        <span class="badge text-bg-success">{{ task.status }}</span>
                        {% elif task.status == 'Pending' %}
                        <span class="badge text-bg-secondary">{{ task.status }}</span>            
                        {% else %}
                        <span class="badge text-bg-primary">{{ task.status }}</span>
                        {% endif %}
                        <span class="small fw-lighter">Task assigned to: {{ task.assigned_to }}</span>
                    </span>
                </a>
            </div>
            {% endfor %}
        </div>
    <div class="d-flex justify-content-center">  
        {% include 'partials/pagination.html' %}
    </div>  
    </div>
{% endblock %}