{% extends 'base.html' %}

{% block content %}
    <h1>Manage Project members</h1>
    <form action="{% url 'manage_users_task' task.pk %}" method="POST">
        {% include 'partials/CRU.html' with button_text="Edit Users" %}        
    </form>
{% endblock %}