{% extends 'base.html' %}

{% block content %}
    <h1>Select project</h1>
    <form action="{% url 'select_project' task.pk %}" method="POST">
        {% include 'partials/CRU.html' with button_text="Select Project" %}        
    </form>
{% endblock %}