{% extends 'base.html' %}

{% block content %}
    <h1>Edit Task</h1>
    <form action="{% url 'task_update' task.pk %}" method="POST">
        {% include 'partials/CRU.html' with button_text="Edit" %}           
    </form>
{% endblock %}
